.article {
  max-width: 1200px;
 
    background-color: #fff;
border-radius: 5px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  margin-top: 26px; 
  padding: 20px;
  border: 1px solid #ccc;
  margin: 25px auto;
  &__actions {
    display: flex;
    
    margin-top: 30px;
    gap: 12px; 
  }
}

.article__content {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.article__left{
  width: 80%;;
}
.article__titleLink {
  text-decoration: none;}

.article__titleSection {
  display: flex;
 align-items: flex-start;
  
}

.article__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;

  a {
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: #1890ff;
      text-decoration: none;
      line-height: 28px;
      display: block;
      &:hover {
          color: #40a9ff;
          text-decoration: underline;
      }
  }
}

.article__likeBtn {

  background: none;
  padding: 4px 12px;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  white-space: nowrap;
  transition: all 0.2s ease;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &::before{
      content: url('../assets/heart.svg');
      margin-top: 4px;
      margin-right: 5px;
  }
  
}
.article__redLikeBtn{
  background: none;
  padding: 4px 12px;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  white-space: nowrap;
  transition: all 0.2s ease;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before{
      content: url('../assets/heartActive.svg');
      margin-top: 4px;
      margin-right: 5px;
}}



.article__tags {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
  flex-wrap: wrap;
}

.article__tag {
  background-color: #f0f0f0;
  color: #666;
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  display: inline-block;
}

.article__description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.50);
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

}


.article__author {
  display: flex;
justify-content: space-between;
gap: 12px;
      
}

.article__avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}

.article__authorInfo {
  display: flex;
  flex-direction: column;
}

.article__nickname {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 4px;
}

.article__data {
  color: #999;
  font-size: 12px;
}
.article__avatar{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #f0f0f0;
}
.article__text{
  padding: 18px;
}



.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.meta {
  margin-bottom: 10px;
}

.content {
  font-size: 16px;
  line-height: 1.5;
}
.editButton{
  padding: 6px 19px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  line-height: 22px;
 color: #52C41A;
 border: 1px solid #52C41A;

 &:hover {
  color: #fff;
  background-color: #52C41A !important;

}
}
.deleteButton{
  &:hover {
  border: 1px solid #F5222D !important;
    color: #fff !important;
    background-color:#F5222D !important;
  
  }
}