.header {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;

  h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 28px;
    &:hover {
      color: #52c41a;
    }
  }
}

.header__actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__signIn {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  line-height: 22px;
  background-color: white;
  transition: all 0.2s ease;
  &:hover {
    color: #52c41a;
  }
}

.header__signUp {
  padding: 6px 18px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  line-height: 22px;
  color: #52c41a;
  border: 1px solid #52c41a;

  &:hover {
    color: #fff;
    background-color: #52c41a;
  }
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 13px;
}

.header__createArticle {
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  line-height: 22px;
  color: #52c41a;
  border: 1px solid #52c41a;

  &:hover {
    color: #fff;
    background-color: #52c41a;
  }
}
.header__avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #f0f0f0;
}
.header__logout {
  padding: 6px 18px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  line-height: 22px;
  color: #000000bf;
  border: 1px solid #000000bf;

  &:hover {
    color: #fff;
    background-color: #000000bf;
  }
}
