.articleItem {
    width: 938px;
    height: 140px;
    background-color: #fff;
  border-radius: 5px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    overflow: hidden;
}

.articleItem__content {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.articleItem__titleLink {
    text-decoration: none;}

.articleItem__titleSection {
    display: flex;
   align-items: flex-start;
    
}

.articleItem__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;

    a {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #1890ff;
        text-decoration: none;
        line-height: 28px;
        display: block;
        &:hover {
            color: #40a9ff;
            text-decoration: underline;
        }
    }
}
.articleItem__left{
    width: 80%;;
}
.articleItem__likeBtn {
 
    background: none;
    padding: 4px 12px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    white-space: nowrap;
    transition: all 0.2s ease;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &::before{
        content: url('../assets/heart.svg');
        margin-top: 4px;
        margin-right: 5px;
    }
    
}
.articleItem__redLikeBtn{
    @extend .articleItem__likeBtn;
    &::before{
        content: url('../assets/heartActive.svg');
        margin-top: 4px;
        margin-right: 5px;
}}



.articleItem__tags {
    display: flex;
    gap: 8px;
    margin-bottom: 4px;
    flex-wrap: wrap;
}

.articleItem__tag {
    background-color: #f0f0f0;
    color: #666;
    padding: 2px 6px;
    border-radius: 2px;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: inline-block;
}

.articleItem__description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.articleItem__author {
    display: flex;
  
        gap: 12px;
}

.articleItem__avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
}

.articleItem__authorInfo {
    display: flex;
    flex-direction: column;
}

.articleItem__nickname {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 4px;
}

.articleItem__data {
    color: #999;
    font-size: 12px;
}
.articleItem__avatar{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #f0f0f0;
}